/*ABOUT ABOUT  ABOUT ABOUT  ABOUT ABOUT  ABOUT ABOUT  ABOUT ABOUT  ABOUT ABOUT  ABOUT ABOUT*/
.about{
  font-family: "Quicksand";
}

/*HEADER HEADER  HEADER HEADER  HEADER HEADER  HEADER HEADER  HEADER HEADER  HEADER HEADER*/

.aboutHeader{
  position: relative;
  width: 100%;
  height: 45vw;
  color: white;
  overflow: hidden;
}
.aboutHeader > img{
  position: absolute;
  width:100vw;
  height: auto;
  top: -10vw;
  z-index: -1;
}
.aboutHeader h1{
  position: absolute;
  z-index: 1;
  font-size: 2.5vw;
  font-weight: 500;
  top: 14vw;
  left: 11vw;
}

.aboutHeader p{
  position: absolute;
  z-index: 1;
  top: 20vw;
  left: 11vw;
  width: 30vw;
  font-size: 1.45vw;
}

/* MONTA MONTA  MONTA MONTA  MONTA MONTA  MONTA MONTA  MONTA MONTA  MONTA MONTA  MONTA MONTA  MONTA MONTA */

.aboutMonta{
  position: relative;
  width: 100%;
  text-align: right;
  height: 50vw;
}

.aboutMText {
  width: 32vw;
  position: absolute;
  left: 15vw;
  top: 7.5vw;
}
.aboutMText h1{
  font-size: 2.5vw;
  font-weight: 500;
  top: 14vw;
  left: 11vw;
}

.aboutMText p{
  top: 20vw;
  left: 11vw;
  width: 32vw;
  font-size: 1.45vw;
}

.aboutMText > div{
  position: absolute;
  right: 0;
  background-color: #FF5252;
  color: white;
  text-decoration: underline;
  padding: 0.75vw 1vw 0.75vw 1vw; 
  width: 10.8vw;
  border-radius: 2vw;
  font-size:1.2vw ;

}
.aboutMPeoples{
  position: absolute;
  right: 11vw;
  width: 30vw;
  top: 10vw;
}
.aboutMPeoples img{
  width: auto;
  height: 24vw;
}


.aboutMlogoMonta {
  position: absolute;
  width: 5vw;
  height: 5vw;
  padding:1.5vw;
  border-radius: 0.7vw;
  right: 40vw;
  top: 12vw;
}
.aboutMlogoMonta img{
  width: 5vw;
  height: auto;
}

.aboutMlogoKarma {
  position: absolute;
  width: 6vw;
  height: 6vw;
  padding:1vw;
  border-radius: 0.7vw;
  right: 6vw;
  top: 5vw;
}

.aboutMlogoKarma img{
  width: 6.5vw;
  height: auto;
}

/*CLIMATE CLIMATE  CLIMATE CLIMATE   CLIMATE CLIMATE   CLIMATE CLIMATE   CLIMATE CLIMATE   CLIMATE CLIMATE   CLIMATE CLIMATE */

.aboutClimate{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 35vw;
  
}

.aboutClimate h1{
  font-size: 2.5vw;
  font-weight: 500;
  top: 14vw;
  left: 11vw;
}

.aboutClimate p{
  top: 20vw;
  left: 11vw;
  width: 32vw;
  font-size: 1.45vw;
  margin-bottom: 6vw;
}

.aboutClimate a{
  background-color: #FF5252;
  color: white;
  text-decoration: underline;
  padding: 0.75vw 1vw 0.75vw 1vw; 
  width: 10.8vw;
  border-radius: 2vw;
  font-size:1.2vw ;

}

.aboutClimate > div  {
  position: relative;
}

.aboutClimate :first-child img {
  position: absolute;
}

.aboutClimate :first-child :first-child  {
  width: 18vw;
  height: auto;
  z-index: 1;
  left: 13.25vw;
}


.aboutClimate :first-child :last-child  {
  width: 20vw;
  height: auto;
  z-index: -1;
  left: 22vw;
  top: 8vw;
}

/*DIGITAL DIGITAL  DIGITAL DIGITAL  DIGITAL DIGITAL  DIGITAL DIGITAL  DIGITAL DIGITAL  DIGITAL DIGITAL */

.aboutDigital{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 40vw;
  
}

.aboutDigital h1{
  font-size: 2.5vw;
  font-weight: 500;
  top: 14vw;
  left: 11vw;
  text-align: right;
}

.aboutDigital p{
  top: 20vw;
  left: 11vw;
  width: 32vw;
  font-size: 1.45vw;
  text-align: right;
}

.aboutDigital :first-child{
  width: 32vw;
  justify-self: end;
}

.aboutDigital div:last-child {
  position: relative;
}

.aboutDigital :last-child :first-child{
  position: absolute;
  width: 16vw;
  height: auto;
  z-index: -1;
  right: 24vw;
  top: 4vw;
}
.aboutDigital :last-child :last-child{
  position: absolute;
  width: 6vw;
  height: auto;
  z-index: -1;
  right: 22.3vw;
  top: 8vw;
  transform: rotate(32deg);
}



