/*ABOUT ABOUT  ABOUT ABOUT  ABOUT ABOUT  ABOUT ABOUT  ABOUT ABOUT  ABOUT ABOUT  ABOUT ABOUT*/
.about {
  font-family: "Quicksand";
}

/*HEADER HEADER  HEADER HEADER  HEADER HEADER  HEADER HEADER  HEADER HEADER  HEADER HEADER*/

.aboutHeader {
  position: relative;
  width: 100%;
  height: 45vw;
  top: 6vw;
  color: white;
  overflow: hidden;
}
.aboutHeader > img {
  position: absolute;
  width: 100vw;
  height: auto;
  top: -10vw;
  z-index: -1;
}
.aboutHeader h1 {
  position: absolute;
  z-index: 1;
  font-size: 2.5vw;
  font-weight: 500;
  top: 14vw;
  left: 11vw;
}

.aboutHeader p {
  position: absolute;
  z-index: 1;
  top: 20vw;
  left: 11vw;
  width: 30vw;
  font-size: 1.45vw;
  font-weight: 500;
}

/* MONTA MONTA  MONTA MONTA  MONTA MONTA  MONTA MONTA  MONTA MONTA  MONTA MONTA  MONTA MONTA  MONTA MONTA */

.aboutMonta {
  position: relative;
  width: 100%;
  text-align: right;
  height: 50vw;
  top: 7vw;
}

.aboutMText {
  width: 32vw;
  position: absolute;
  left: 15vw;
  top: 7.5vw;
}
.aboutMText h1 {
  font-size: 2.5vw;
  font-weight: 500;
  top: 14vw;
  left: 11vw;
}

.aboutMText p {
  top: 20vw;
  left: 11vw;
  width: 32vw;
  font-size: 1.45vw;
  font-weight: 500;
}

.aboutMText > div {
  position: absolute;
  right: 0;
  background-color: #ff5252;
  color: white;
  padding: 0.75vw 1vw 0.75vw 1vw;
  width: 10.8vw;
  border-radius: 2vw;
  font-size: 1.2vw;
}

.collabImage {
  position: absolute;
  right: 11vw;
  width: 30vw;
  top: 10vw;
}

.aboutMPeoples img {
  width: auto;
  height: 24vw;
}

.aboutMlogoMonta {
  position: absolute;
  width: 5vw;
  height: 5vw;
  padding: 1.5vw;
  border-radius: 0.7vw;
  right: 30vw;
  top: -2vw;
}
.aboutMlogoMonta img {
  width: 5vw;
  height: auto;
}

.aboutMlogoKarma {
  position: absolute;
  width: 6vw;
  height: 6vw;
  padding: 1vw;
  border-radius: 0.7vw;
  right: -6vw;
  top: 5vw;
}

.aboutMlogoKarma img {
  width: 6.5vw;
  height: auto;
}

/*CLIMATE CLIMATE  CLIMATE CLIMATE   CLIMATE CLIMATE   CLIMATE CLIMATE   CLIMATE CLIMATE   CLIMATE CLIMATE   CLIMATE CLIMATE */

.aboutClimate {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 35vw;
  margin-top: 10vw;
}

.aboutClimate h1 {
  font-size: 2.5vw;
  font-weight: 500;
  top: 14vw;
  left: 11vw;
}

.aboutClimate p {
  top: 20vw;
  left: 11vw;
  width: 32vw;
  font-size: 1.45vw;
  margin-bottom: 6vw;
  font-weight: 500;
}

.aboutClimate a {
  background-color: #ff5252;
  color: white;
  padding: 0.75vw 1vw 0.75vw 1vw;
  width: 10.8vw;
  border-radius: 2vw;
  font-size: 1.2vw;
  text-decoration: none;
}

.aboutClimate > div {
  position: relative;
}

.aboutClimate :first-child img {
  position: absolute;
}

.aboutClimate :first-child :first-child {
  width: 18vw;
  height: auto;
  z-index: 1;
  left: 13.25vw;
}

.aboutClimate :first-child :last-child {
  width: 20vw;
  height: auto;
  z-index: -1;
  left: 22vw;
  top: 8vw;
}

/*DIGITAL DIGITAL  DIGITAL DIGITAL  DIGITAL DIGITAL  DIGITAL DIGITAL  DIGITAL DIGITAL  DIGITAL DIGITAL */

.aboutDigital {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 40vw;
  margin-top: 10vw;
}

.aboutDigital h1 {
  font-size: 2.5vw;
  font-weight: 500;
  top: 14vw;
  left: 11vw;
  text-align: right;
}

.aboutDigital p {
  top: 20vw;
  left: 11vw;
  width: 32vw;
  font-size: 1.45vw;
  text-align: right;
  font-weight: 500;
}

.aboutDigital :first-child {
  width: 32vw;
  justify-self: end;
}

.aboutDigital div:last-child {
  position: relative;
}

.aboutDigital :last-child :first-child {
  position: absolute;
  width: 16vw;
  height: auto;
  z-index: -1;
  right: 24vw;
  top: 4vw;
}

.aboutDigital :last-child :last-child {
  position: absolute;
  width: 6vw;
  height: auto;
  z-index: -1;
  right: 22.3vw;
  top: 8vw;
  transform: rotate(32deg);
}

/* MEDIA QUERIES MOBILE MEDIA QUERIES MOBILE MEDIA QUERIES MOBILE */

@media only screen and (max-width: 768px) {
  /*HEADER SERCTION HEADER SECTION HEADER SECTION HEADER SECTION*/

  .aboutHeader {
    width: 100%;
    height: 45vw;
    top: 14vw;
    color: white;
    overflow: hidden;
    margin-top: 2vw;
  }
  .aboutHeader > img {
    width: 100vw;
    height: auto;
    top: -10vw;
    z-index: -1;
  }
  .aboutHeader h1 {
    z-index: 1;
    font-size: 5vw;
    top: 10vw;
    left: 24vw;
  }

  .aboutHeader p {
    z-index: 1;
    top: 17vw;
    left: 25vw;
    width: 50vw;
    font-size: 2.5vw;
  }

  /*ABOUT MONTA*/

  .aboutMonta {
    text-align: left;
    height: 80vw;
    top: 10vw;
  }

  .aboutMText {
    width: 77vw;
    left: 10vw;
    top: 50vw;
  }

  .aboutMText > a {
    right: 13vw;
    background-color: #ff5252;
    color: white;
    padding: 0.75vw 1.7vw 0.75vw 1.7vw;
    width: 20vw;
    border-radius: 2vw;
    font-size: 3.5vw;
    text-decoration: none;
  }

  .aboutMText h1 {
    font-size: 4vw;
    font-weight: 500;
    top: 14vw;
    left: 11vw;
  }

  .aboutMText p {
    top: 20vw;
    left: 11vw;
    width: 77vw;
    font-size: 3vw;
    font-weight: 500;
  }

  .collabImage {
    right: 28vw;
    width: 40vw;
    top: 10vw;
  }

  .aboutMPeoples img {
    width: auto;
    height: 34vw;
  }

  .aboutMlogoMonta {
    width: 5vw;
    height: 5vw;
    right: 42vw;
    top: 1vw;
  }

  .aboutMlogoMonta img {
    width: 5vw;
    height: auto;
  }

  .aboutMlogoKarma {
    width: 7vw;
    height: 7vw;
    right: -6vw;
    top: 5vw;
  }

  .aboutMlogoKarma img {
    width: 7.5vw;
    height: auto;
  }

  /*CLIMATE CLIMATE CLIMATE*/

  .aboutClimate {
    width: 100%;
    height: 80vw;
  }

  .aboutClimate h1 {
    font-size: 4vw;
    font-weight: 500;
    width: 40vw;
    top: 14vw;
    left: 11vw;
  }

  .aboutClimate p {
    top: 20vw;
    left: 11vw;
    width: 77vw;
    font-size: 3vw;
    font-weight: 500;
    margin-bottom: 6vw;
  }

  .aboutClimate a {
    background-color: #ff5252;
    color: white;
    padding: 0.75vw 1.7vw 0.75vw 1.7vw;
    width: 15.8vw;
    border-radius: 2vw;
    font-size: 3.5vw;
  }

  .aboutClimate > div {
    position: relative;
  }

  .aboutClimate :last-child {
    width: 77vw;
    left: -13vw;
    top: 80vw;
  }

  .aboutClimate :first-child :first-child {
    width: 23vw;
    z-index: 1;
    left: 22vw;
    top: 49.5vw;
  }

  .aboutClimate :first-child :last-child {
    width: 42vw;
    z-index: -1;
    left: 32vw;
    top: 58vw;
  }

  /*DIGITAL SOLUTION DIGITAL SOLUTION DIGITAL SOLUTION */

  .aboutDigital {
    width: 100%;
    height: 140vw;
  }

  .aboutDigital h1 {
    font-size: 4vw;
    text-align: left;
  }

  .aboutDigital p {
    width: 77vw;
    font-size: 3vw;
    text-align: left;
  }

  .aboutDigital div:first-child {
    position: absolute;
    left: 10vw;
    width: 77vw;
    top: 305vw;
    justify-self: none;
  }

  .aboutDigital div:last-child {
    position: relative;
  }

  .aboutDigital :last-child :first-child {
    width: 22vw;
    height: auto;
    z-index: -1;
    left: 30vw;
    top: 49vw;
}

  .aboutDigital :last-child :last-child {
    width: 12vw;
    height: auto;
    z-index: -1;
    left: 48.5vw;
    top: 47vw;
    transform: rotate(32deg);
  }
}
