/*APP APP APP APP    APP APP APP APP    APP APP APP*/
.navBar{
  width: 100vw;
  height: 8vw;
  background-color: blueviolet;
}

.homeTitle{
  width: 100vw;
  height: 45vw;
  background-color: red; 
}

.homeStatistics{
  width: 100vw;
  height: 15vw;
  background-color: yellow; 
}

.homeKIP{
  width: 100vw;
  height: 35vw;
  background-color: beige; 
}

.homeSection{
  width: 100vw;
  height: 35vw;
  background-color: green; 
}

.footer{
  width: 100vw;
  height: 25vw;
  background-color: darkblue; 
}

