/*APP APP APP APP    APP APP APP APP    APP APP APP*/
.App {
  font-family: "Quicksand";
  overflow: hidden;
}
/*HEADER HEADER HEADER     HEADER HEADER HEADER     HEADER HEADER HEADER*/
.navBar {
  width: 100%;
  height: 8vw;
  display: grid;
  grid-template-columns: 2fr 1fr;
  font-size: 1.2vw;
}
.homeButton {
  margin: 0.5vw 0 0 2vw;
  width: 6vw;
}
.navB {
  display: flex;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  width: 35vw;
  margin: 0 5vw 0 8vw;
}

.navButton {
  text-decoration: none;
  color: black;
  font-family: "quicksand";
  font-weight: 600;
  cursor: pointer;
}

.qr {
  background-color: #ff5252;
  padding: 0.5vw;
  width: 9vw;
  border-radius: 2vw;
  text-align: center;
  color: white;
}

.logo {
  width: auto;
  height: 6vw;
  cursor: pointer;
}

/* BODY BODY BODY BODY BODY      BODY BODY BODY BODY BODY      BODY BODY BODY BODY  */

.homeTitle {
  width: 100%;
  height: 45vw;
  position: relative;
}
.homeTitle img {
  z-index: -1;
}
.getQrBtnDescription {
  background-color: #ff5252;
  padding: 0.7vw 3vw 0.7vw 3vw;
  width: 9vw;
  border-radius: 2vw;
  text-align: center;
  color: white;
  font-size: 1.2vw;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}
.homeText {
  width: 38vw;
  position: absolute;
  left: 12vw;
  top: 1vw;
  z-index: 1;
}
.homeText h1 {
  font-size: 3.35vw;
  font-weight: 500;
  margin-bottom: 0.5vw;
}
.homeText p {
  font-size: 1.4vw;
  font-weight: 400;
  width: 35vw;
  margin: 0 0 3vw 0;
}
.buildings {
  position: absolute;
  bottom: 0;
  left: -9vw;
}

.buildings img {
  width: 53.5vw;
  height: auto;
}

.phoneHome {
  position: absolute;
  right: 20vw;
  top: -3vw;
}

.phoneHome img {
  width: 25vw;
  height: auto;
}
.charginCarHome {
  position: absolute;
  right: -8vw;
  z-index: -2;
  top: -9vw;
}
.charginCarHome img {
  width: 53.5vw;
  height: auto;
}

.homeCarjourney {
  width: 100%;
  height: 55vw;
  background-image: linear-gradient(#ffa8a0, white);
  position: relative;
  margin-top: -1vw;
}

.homeCarjourneyText {
  width: 35vw;
  position: absolute;
  left: 12vw;
  top: 5vw;
}

.homeCarjourneyText h1 {
  font-size: 3.5vw;
  font-weight: 300;
  margin-bottom: 0.5vw;
}

.homeCarjourneyText p {
  font-size: 1.4vw;
  font-weight: 400;
  width: 32vw;
}

.homeCarjourneyTL .car {
  position: absolute;
  z-index: 1;
  top: 40.5vw;
  left: 8vw;
  width: 10vw;
}

.homeCarjourneyTL .charger {
  position: absolute;
  z-index: 1;
  top: 37vw;
  left: 32.5vw;
  width: 5vw;
}

.homeCarjourneyTL .phone {
  position: absolute;
  z-index: 1;
  top: 27.5vw;
  left: 54.8vw;
  width: 2.8vw;
}

.homeCarjourneyTL .reward {
  position: absolute;
  z-index: 1;
  top: 33vw;
  left: 75.7vw;
  width: 4vw;
}

.dot1 {
  position: absolute;
  z-index: 1;
  height: 2.5vw;
  width: 2.5vw;
  background-color: #3f51b5;
  border-radius: 50%;
  top: 43.5vw;
  left: 33vw;
}

.dot2 {
  position: absolute;
  z-index: 1;
  height: 2.5vw;
  width: 2.5vw;
  background-color: #b5c0ff;
  border-radius: 50%;
  top: 35vw;
  left: 55vw;
}

.dot3 {
  position: absolute;
  z-index: 1;
  height: 2.5vw;
  width: 2.5vw;
  background-color: #3f51b5;
  border-radius: 50%;
  top: 40.5vw;
  left: 76.5vw;
}

.homeCarjourneyTL .timeline {
  position: absolute;
  top: 35vw;
}

.homeHAW {
  width: 100%;
  height: 55vw;
  position: relative;
}

.hawText {
  position: absolute;
  left: 13vw;
  top: 15vw;
}

.getQrBtnHAW {
  position: absolute;
  left: 17vw;
  bottom: -5vw;
  background-color: #ff5252;
  padding: 0.7vw 3vw 0.7vw 3vw;
  width: 9vw;
  border-radius: 2vw;
  text-align: center;
  color: white;
  font-size: 1.2vw;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

.hawText h1 {
  font-size: 2vw;
  font-weight: 400;
  margin-bottom: 0.5vw;
  text-align: right;
}
.hawText p {
  font-size: 1.4vw;
  font-weight: 400;
  width: 32vw;
  text-align: right;
}

.homeHAW img {
  position: absolute;
  right: 11vw;
  top: 5vw;
  width: 45vw;
}

.homeTrust {
  background-color: #00004f;
  width: 100%;
  height: 15vw;
  position: relative;
}

.homeTrust h1 {
  text-align: center;
  color: white;
  padding-top: 2vw;
  font-size: 2vw;
  font-weight: 500;
}

.homeSection {
  position: relative;
  width: 100%;
  height: 80vw;
  /* background-color: white; */
}

.homeSectionText {
  position: absolute;
  left: 55vw;
  top: 15vw;
}

.homeSectionText h1 {
  font-size: 2vw;
  font-weight: 400;
  margin-bottom: 0.5vw;
  text-align: left;
}

.homeSectionText p {
  font-size: 1.4vw;
  font-weight: 400;
  width: 32vw;
  text-align: left;
}

.homeSection img {
  position: absolute;
  left: 11vw;
  top: 5vw;
  width: 45vw;
}

.homeSectionQRButton {
  position: absolute;
  bottom: -5vw;
  background-color: #ff5252;
  padding: 0.7vw 3vw 0.7vw 3vw;
  width: 9vw;
  border-radius: 2vw;
  text-align: center;
  color: white;
  font-size: 1.2vw;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

.homeHIW {
  width: 100%;
  height: 30vw;
  background-color: #ffa8a0;
  position: relative;
}

.homeHIWinfo {
  position: absolute;
  top: -30vw;
  text-align: center;
  width: 100%;
}

.homeHIWinfo h1 {
  font-size: 2.5vw;
  font-weight: 500;
}

.homeHIWinfo img {
  width: 45vw;
}

.homeHIWinfo p {
  width: 28vw;
  font-size: 1.5vw;
  font-weight: 500vw;
}

.HIWButton {
  position: absolute;
  bottom: -3.5vw;
  background-color: #00004f;
  padding: 0.7vw 1vw 0.7vw 1vw;
  width: 12vw;
  border-radius: 2vw;
  text-align: center;
  color: white;
  font-size: 1.2vw;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

.homeContact {
  width: 100%;
  height: 30vw;
  background-color: white;
  position: relative;
}

.contactText {
  position: absolute;
  top: 4vw;
  left: 16vw;
}

.contactText h1 {
  font-size: 2.5vw;
  font-weight: 400;
}

.contactText p {
  font-size: 1.8vw;
  font-weight: 500;
  width: 35vw;
}

.contactButton {
  position: absolute;
  left: 18vw;
  bottom: -3.5vw;
  background-color: #ff5252;
  padding: 0.7vw 3vw 0.7vw 3vw;
  width: 9vw;
  border-radius: 2vw;
  text-align: center;
  color: white;
  font-size: 1.5vw;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

.homeContact img {
  position: absolute;
  width: 22vw;
  right: 12vw;
  bottom: 8vw;
}

/*FOOTER FOOTER       FOOTER FOOTER FOOTER    FOOTER FOOTER FOOTER*/

.footer {
  width: 100%;
  height: 20.5vw;
  background-color: #00004f;
  color: white;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  font-family: "Quicksand", sans-serif;
}
.fstFContainer {
  width: 20vw;

  position: relative;
  margin-left: 11vw;
  margin-top: 2.5vw;
}
.fstFContainer div {
  position: absolute;
  left: 5vw;
}
.fstFContainer select {
  appearance: none;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 0.25vw;
  width: 15vw;
  height: 2.5vw;
  color: white;
  padding: 0 0 0 1vw;
  font-size: 1.3vw;
  font-weight: 500;
  font-family: "Quicksand";
}
.fstFContainer p {
  font-weight: 700;
  font-size: 1.2vw;
  margin-top: 1.5vw;
}
.scdFContainer a {
  text-decoration: none;
  color: white;
  font-size: 1vw;
  font-weight: 700;
}
.scdFContainer div {
  display: grid;
}
.scdFContainer {
  margin-top: 3vw;
  position: relative;
  margin-left: 2vw;
}
.scdFContainer p {
  position: absolute;
  bottom: 1.5vw;
  font-weight: 700;
  font-size: 1vw;
  left: 5vw;
}
.scdFContainer span {
  display: block;
  height: 1px;
  width: 8vw;
  background-color: rgba(255, 255, 255, 0.438);
  margin: 0.5vw 0 0.5vw 0;
}

.trdFContainer {
  margin-top: 2.5vw;
  display: flex;
}
.trdFContainer p {
  height: 1.5vw;
  margin: 0;
  font-weight: 700;
  font-size: 1.1vw;
  margin-bottom: 0.8vw;
}
.trdFContainer div {
  display: flex;
  flex-direction: column;
  margin-right: 1vw;
  margin-left: 2vw;
}
.phoneNum {
  padding-top: 3vw;
}

.trdFContainer a {
  text-decoration: none;
  color: white;
  height: 1vw;
  font-weight: 700;
  font-size: 1.1vw;
  margin-top: 0.8vw;
}

.footerMonta {
  width: 9vw;
  height: auto;
  margin-bottom: 1vw;
}
