.Contact {font-family: "Quicksand";
overflow: hidden;
}

.contactIntro {
  height: 45vw;
  width: 100%;
  position: relative;
  margin-top: 10vw;
}

.contactIntroText {
  position: absolute;
  width: 45vw;
  left: 8vw;
  top: 7vw;
}

.contactIntroText h1 {
  font-size: 4vw;
  font-weight: 400;
  text-align: left;
}

.contactIntroText p {
  width: 39vw;
  font-size: 1.7vw;
  font-weight: 400;
  text-align: left;
}

.customers img {
  position: absolute;
  right: 17vw;
  top: 11vw;
  width: 18vw;
  z-index: 1;
}

.envelopeLeft img {
  position: absolute;
  right: 32.5vw;
  top: 23.5vw;
  width: 11vw;
}

.envelopeRight img {
  position: absolute;
  right: 7vw;
  top: 2vw;
  width: 11vw;
}

.textboxLeft p {
  position: absolute;
  z-index: 2;
  top: 26vw;
  right: 36vw;
  background-color: white;
  border-radius: 1vw;
  padding: 0.7vw 1vw 0.7vw 1vw;
  outline: 0.1vw solid black;
  text-align: center;
  font-size: 1.2vw;
  font-weight: 400;
  margin: 0vw;
}

.textboxRight p {
  position: absolute;
  z-index: 2;
  top: 4.2vw;
  right: 12vw;
  background-color: white;
  border-radius: 1vw;
  padding: 0.7vw 1vw 0.7vw 1vw;
  outline: 0.1vw solid black;
  text-align: center;
  font-size: 1.2vw;
  font-weight: 400;
  margin: 0vw;
}

.lineLeft svg {
  position: absolute;
  top: 20vw;
  right: 28vw;
  z-index: 3;
  transform: rotate(330deg);
  fill: none;
  width: 12vw;
  height: 16vw;
}

.lineRight svg {
  position: absolute;
  top: 9vw;
  right: 10vw;
  z-index: 3;
  transform: rotate(320deg);
  fill: none;
  width: 12vw;
  height: 10vw;
}


/*FAQ SECTION STYLING*/

#faqsection {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 10vw;
}

.FAQ {
  width: 40vw;
  height: 30vw;
  margin-right: 4vw;
  position: relative;
}

.FAQ h1 {
  text-align: left;
  color: black;
  font-size: 3vw;
  font-weight: 500;
  padding-top: 2.5vw;
}

.FAQ p {
  text-align: left;
  color: black;
  font-size: 1.4vw;
  font-weight: 400;
  padding-top: 1vw;
}

.questions {
  position: relative;
  width: 40vw;
  height: 30vw;
  border-radius: 2vw;
  -webkit-box-shadow: -1px 4px 15px 2px rgba(0,0,0,0.33); 
box-shadow: -1px 4px 15px 2px rgba(0,0,0,0.33);
justify-content:baseline;
}

#questioncontainer {
  position: relative;
  display: flex;
  flex-direction: column;
}

.quest span {
  float: right;
}

.hrLine {
  width: 70%;
  margin: auto;

}

.quest {
  color: #444;
    cursor: pointer;
    padding: 30px 20px;
    width: 70%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
}

.faqBody{
  margin: auto;
 width: 50%; 
 padding: auto;
}

.quest:hover {
    transform: scale(1.02);
}

/*faq-page - hidden by default */
.faqBody {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}
/* .quest::after {
    content: '\02795';
    /* Code for (+) */
    /* font-size: 13px;
    color: rgb(0, 0, 0);
    float: right;
    margin-left: 5px;
    display: block;
}
.active::after {
    content: "\2796";
     */
    /* Cpde for (-) */
/* } */ 


/*CONTACT FORM STYLING*/

#formsec {
  position: relative;
  height: 50vw;
  padding-left: 8vw;
  padding-right: 8vw;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,168,160,1) 87%); 
}

.contactForm {
  position: relative;
  width: 50vw;
  display: flex;
flex-direction: row;
color: black;
}

.contactForm fieldset {
  border: 0px transparent solid;
  padding: 2.5vw;
  height: 25vw;
  width: 30vw;
}

.contactForm form {
  margin-top: 5vw;
  background-color: white;
  border-radius: 2vw;
  -webkit-box-shadow: -1px 4px 15px 2px rgba(0,0,0,0.33); 
box-shadow: -1px 4px 15px 2px rgba(0,0,0,0.33);
}  

#fullname {
  display: flex;
}


#userinfo {
  display: flex;
}

.contactForm label {
  margin-bottom: 0.3vw;
  color: black;
}

.contactForm input {
  height: 2.8vw;
  color: rgb(226, 226, 226);
  border-radius: 0.5vw;
  border-color: transparent;
  -webkit-box-shadow: 0px 13px 21px -2px rgba(0,0,0,0.35); 
  box-shadow: 0px 13px 21px -2px rgba(0,0,0,0.35);
}

.arrange {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5vw;
  margin-left: 0.8vw;
}
 
#messagebox {
  height: 6vw;
  width: 25vw;
}

/*Text section next to Form*/
#faqsection {
  position: relative;
}


.formTitle {
  position: relative;
  width: 40vw;
  margin-left: 4vw;
  margin-top: 5vw;
}

.formTitle h1{
font-size: 3.5vw;
color: black;
text-align: right;
}

.formTitle p{
  font-size: 1.5vw;
  color: black;
  text-align: right;
  }

  #divider {
    position: relative;
    height: 0.2vw;
    width: 30vw;
    margin-left: 9vw;
    background-color: black;
  }

  .contactForm input[type="text"] {
    height: 5vw;
  }


  /*MEDIA QUERIES PHONE MEDIA QUERIES PHONE MEDIA QUERIES PHONE*/

  @media only screen and (max-width: 768px) {
  
  .contactIntro {
    display: flex;
    flex-direction: column;
  }


  #formsec {
    display: flex;
    flex-direction: column;
    
  }

  #faqsection {
    display: flex;
    flex-direction: column;

  }
  }