/* INTRO INTRO INTRO     INTRO INTRO INTRO    INTRO INTRO */

.hiwIntro {
  height: 45vw;
  width: 100%;
  position: relative;
}

.introText {
  position: absolute;
  width: 37vw;
  left: 10vw;
  top: 10vw;
}

.introText h1 {
  font-size: 3vw;
  font-weight: 500;
  margin: 0 0 1vw 0; 
}

.introText span {
  display: block;
  height: 0.25vw;
  width: 32vw;
  background-color: black;
  margin-bottom: 1.5vw;
}

.introText h1 + p {
  font-weight: 700;
  font-size: 1.7vw;
  margin-bottom:0.5vw ;
  width: 40vw;
}

.introText p {
  font-size: 1.45vw;
  font-weight: 500;
  margin: 0vw;
  width: 30vw;
}

.car {
  position: absolute;
  top: 28vw;
  left: 22.5vw;
  z-index: 2;
}

.car img {
  width: 22vw;
}

.phoneDisplay {
  position: absolute;
  left: 48vw;
  top: 5vw;
  z-index: 1;
}

.phoneDisplay img {
  width: 45vw;
}

.buildings {
  position: absolute;
  left: 39.2vw;
  top: 14vw;
}

.buildings img {
  width: 30vw;
}

/* HOWITWORKS HOWITWORKS HOWITWORKS     HOWITWORKS HOWITWORKS */

.howitworks {
  width: 100%;
  height: 25vw;
  background-color: #ffa8a0;
  position: relative;
}

.howitworksText {
  position: absolute;
  width: 40vw;
  left: 30vw;
  top: 2vw;
}

.howitworksText h1 {
  font-size: 2.6vw;
  font-weight: 500;
  text-align: center;
}

.howitworksText p {
  font-size: 2vw;
  font-weight: 500;
  text-align: center;
}

.orderButton  {
  margin: 2vw 10vw 0vw 10vw;
  text-align: center;
  background-color: #00004f;
  width: 18vw;
  padding: 0.5vw 1vw 0.5vw 1vw;
  border-radius: 2vw;
  color: white;
  font-size: 2vw;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

/* EXPLAIN EXPLAIN EXPLAIN    EXPLAIN EXPLAIN EXPLAIN */

.explain {
  height: 115vw;
  width: 100%;
  position: relative;
  margin-bottom: 20vw;
  margin-top: 12vw;
}

.explain > img {
  position: absolute;
  left: 45vw;
  top: 20vw;
  height: 90vw;
}

.explainToggleSection  {
  position: absolute;
  width: 40vw;
  height:3.5vw;
  background-color: #FFA8A0;
  border-radius: 1.5vw;
  display: flex;
  justify-content: space-evenly;
  left: 25vw;
}

#transitionScannertoOwner{
  position: absolute;
  width: 22vw;
  height: 3.5vw;
  background-color: #FF5252;
  left: 0;
  border-radius: 1.5vw;
  z-index: 0;
}

.TogglingOwnertransition {
  transition: transform 1s ease-in-out  ;
  transform: translateX(18vw);
}

.TogglingScannertransition {
  transition: transform 1s ;
  transform: translateX(0vw);
  animation: ease-in 5000s forwards;
}

.explainToggleSection p  {
  z-index: 1;
  color: white;
  text-align: center;
  font-weight: 700;
  margin:0;
  margin-top: 0.7vw;
  font-size: 1.45vw;
  cursor: pointer;
}
.charger {
  position: relative;
  height: 35vw;
}

.chargerText {
  position: absolute;
  width: 30vw;
  text-align: right;
  top: 10vw;
  left: 4vw;
  padding: 4vw;
  border-radius: 1.5vw;
}

.chargerText h1 {
  font-size: 3vw;
  font-weight: 400;
}

.chargerText p {
  font-size: 1.4vw;
  font-weight: 500;
}
.handPhonePurpleImgHIW img{
  width: 14vw;
  position: absolute;
  top: 12vw;
  right: 21vw;
}

.chargerImg img {
  width: 19vw;
  position: absolute;
  top: 15vw;
  right: 21vw;
}

.qrcardImg img {
  position: absolute;
  z-index: 1;
  width: 8vw;
  top: 24.5vw;
  right: 35vw;
}

.phone {
  position: relative;
  height: 40vw;
  text-align: left;
  margin-top: 10vw;
}

.phoneText {
  position: absolute;
  width: 30vw;
  top: 10vw;
  right: 6vw;
  padding: 3.5vw;
  border-radius: 1.5vw;
}

.phoneText h1 {
  font-size: 3vw;
  font-weight: 500;
}

.phoneText p {
  font-size: 1.4vw;
  font-weight: 500;
}

.plugImg img {
  width: 28vw;
  position: absolute;
  top: 13vw;
  left: 18vw;
}


.confirmNGoCarImg img {
  width: 24vw;
  position: absolute;
  top: 18vw;
  left: 18vw;
}

.phoneImg img {
  position: absolute;
  z-index: 1;
  width: 10vw;
  top: 6vw;
  left: 20vw;
}

.chargerImgHIW img{
  position: absolute;
  z-index: 1;
  width: 16vw;
  top: 12vw;
  left: 18vw;
}

.reward {
  position: relative;
  height: 35vw;
  text-align: right;
}

.rewardText {
  position: absolute;
  width: 30vw;
  top: 7vw;
  left: 6vw;
  padding: 3.5vw;
  border-radius: 1.5vw;
}

.rewardText h1 {
  font-size: 3vw;
  font-weight: 400;
}

.rewardText p {
  font-size: 1.4vw;
  font-weight: 500;

}

.carImg img {
  width: 21vw;
  position: absolute;
  top: 22vw;
  right: 21.5vw;
}

.rewardImg img {
  position: absolute;
  z-index: 1;
  width: 12vw;
  top: 14vw;
  right: 32vw;
}

.explain span {
  display: block;
  height: 0.3vw;
  width: 30vw;
  background-color: black;
  margin: 0 35vw 0 35vw;
}

.boxShadower {
  box-shadow: 0px 9px 15px 2px rgba(0,0,0,0.11);
}

/* PINKROW PINKROW PINKROW    PINKROW PINKROW PINKROW */

.whyKarmaSectionHIW {
  width: 100%;
  height: 70vw;
  position: relative;

  overflow: hidden;
}

.whyKarmaSectionHIW h1{
  text-align: center;
  margin-bottom: 20vw;
  font-size: 2.5vw;
}

.kpsSection{
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  width: 100%;
  top: 10vw;
}


.kpsSection div{
  background-color: white;
  width: 20vw;
  height: 20vw;
  text-align: center;
  font-weight: 500;
  font-size: 1.6vw;
  border-radius: 0.8vw;
  z-index: 5;

}
.kpsSection div img{
  height: 12vw;
}
.kpsGetYourCode {
  overflow: hidden;
  height: 50vw;
  width: 100%;
  position: relative;
}

.kpsGetYourCode img {
  position: absolute;
  top: -10vw;
  width: 100vw;
  height: auto;
}

.kpsGetYourCode p {
  position: absolute;
  top: 15vw;
  right: 12vw;
  width: 30vw;
  color: white;
  z-index: 5;
  font-size: 1.6vw;
  text-align: right;
}
.kpsGetYourCode div {
  position: absolute;
  top: 25vw;
  right: 12vw;
  width: 15vw;
  color: white;
  z-index: 5;
  padding: 1vw;
  border-radius: 2vw;
  font-size: 1.6vw;
  text-align: center;
  background-color: #FF5252;
}

/* IMGROW IMGROW IMGROW    IMGROW IMGROW IMGROW   IMGROW IMGROW */

